/*
Palette de couleurs
https://coolors.co/0a100d-b9baa3-d6d5c9-a22c29-902923
#1E1E24 - Raisin Black
#FB9F89 - Vivid Tangerine
#C4AF9A - Khaki Web
#81AE9D - Green Sheen
#21A179 - Green Munsell
*/

/* Style global
------------------------------------------ */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  border: 2px solid #1e1e24;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #0a100d;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.imgProjet {
  width: 300px;
}
a {
  color: #81ae9d;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-detail h3 + p {
  font-style: italic;
}
.item-detail h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #1e1e24;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-style: none;
}

/* Navigation
------------------------------------------ */
nav {
  background: #1e1e24;
  color: #c4af9a;
}

.nav-menu {
  justify-content: center;
  margin: 0;
  font-size: larger;
}

.nav-menu li {
  list-style-type: none;
  padding: 0px 25px;
  border-radius: 4px;
}

.nav-menu li:hover {
  cursor: pointer;
  background: #c4af9a;
  color: #1e1e24;
}

.nav-menu li a,
.nav-menu li a:visited {
  text-decoration: none;
  color: inherit;
}

/* Profil
------------------------------------------ */
header {
  background: #1e1e24;
  color: #c4af9a;
  font-size: larger;
}

.content-wrap div img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 2px solid;
  border-color: #c4af9a;
  border-radius: 50%;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}

.content-wrap h1 {
  display: inline;
  text-align: right;
}

/* Projets
------------------------------------------ */
.projet {
  background: #fb9f89;
}
.projet a {
  color: #902923;
}
.projet .btn {
  color: #0a100d;
  background: #81ae9d;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projet .btn:hover {
  background: #1e1e24;
  color: #c4af9a;
}
.project-item {
  overflow: hidden;
}
.project-item p {
  margin-top: 0;
}

.project-item a:link,
.project-item a:visited {
  color: #0a100d;
}

/* Expérience de travail
------------------------------------------ */
.travail {
  background: #81ae9d;
}

/* Éducation
------------------------------------------ */

.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 80%;
}

.education a:link,
.education a:visited {
  color: #0a100d;
}

/* Contacts
------------------------------------------ */
footer {
  background: #1e1e24;
  color: #c4af9a;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Responsive
------------------------------------------ */
@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }

  nav {
    position: fixed;
    top: 0;
    color: #c4af9a;
    background: #1e1e24;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    justify-content: center;
    padding: 3px 25px;
    margin: 0px;
  }

  .nav-menu li {
    border: 1px solid #c4af9a;
    margin: 3px;
    flex-grow: 1;
    padding: 5px 0;
    text-align: center;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }

  .nav-menu li {
    padding: 5px;
  }
}
